#Rubrik{
	text-align:center;
}

#Bild{
	margin-left:20%;
}

#text{
	max-width:70%;
	text-align:center;
	margin-left:14%;
}

#textForm{
	text-align:center;
}

form{
	max-width:30%;
	margin-left:35%;
	padding-bottom:10px;
}